div.c1 section ul li.c2 { color:black; }
div.c1 section ul li.c2 a { color:black; }
/*_ div.c1 section ul li.c2 a.link { color:black; text-decoration: underline; background-color: none;} */
.link { color:black; text-decoration: underline; background-color: none;}