<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class = "topnav container">
			<div class = "topnav">
				<ul>
					<li class = 'name'><a href="/">Benjamin Morgan</a></li>
					<li class = 'section'><a href="/">Home</a></li>
					<li class = 'section'><a href="/about">About</a></li>
					<li class = 'section'><a href="/projects">Projects</a></li>
					<li class = 'section'><a href="/pdfs/Benjamin Morgan -- Resume.pdf">Résumé</a></li>
				</ul>
			</div>		
		</div>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:bdmorgan@uchicago.edu">email</a></li>
        		<li><a href="https://github.com/bmorgan0921">github.com/bmorgan0921</a></li>
			</ul>
		</footer>
	</body>
</html>
