<!DOCTYPE html>
<html>
	<head>
		<!-- <title>{{ page.title }}</title> -->
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--</head>
	<body>-->
		<nav class = "navbar navbar-inverse">
			<!-- <div>
				<a class="navbar-brand" href="/">Benjamin Morgan</a>
			</div> -->
    		<ul class = "nav navbar-nav">
				<li><a href="/">Benjamin Morgan</a></li>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
        		<li><a href="/pdfs/Benjamin Morgan -- Resume.pdf">Résumé</a></li>
    		</ul>
		</nav>
	</head>
	<body>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:bdmorgan@uchicago.edu">email</a></li>
        		<li><a href="https://github.com/bmorgan0921">github.com/bmorgan0921</a></li>
			</ul>
		</footer>
	</body>
</html>
